

<div class="header">
    <img class="logo" src="assets\images\Web-Logo2.png"/>
  </div>
  
  <mat-toolbar class="top-toolbar">
    <h1>Data Dashboard</h1>    
    <label class="ml-5" id="theUser">user</label>
    <span class = "filler"></span>    
    <button class="btn btn-success" (click)="goToNewUser()">Create user</button>
    <button class="btn btn-success ml-3" (click)="viewDatabase()">View database</button>
    <button class="btn btn-secondary ml-3" (click)="logOut()">Logout</button>
  </mat-toolbar>
  
  
  <div class="container text-center uploadSection">
    <h1> Select a File </h1>
    <p class="supportTypes">Supported file types: .docx, .xlsx(xlms), .csv and .txt</p>
  
    <input style="display: none" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
  
    <div class="fileStuff text-center">
      <button (click)="hiddenfileinput.click()"  class="btn btn-primary uploadBtn text-center">File Upload</button>
      <img class="typePreview" id="fileType"/>
    </div>
  
  
    <p class="fileInfo">{{theFilename}}</p>

    <div class="mb-3" id="leader" *ngIf="isLoad" role="alert">
      <img src="assets\images\loadIc.gif"/>
    </div>
  
  </div>
  
  
  <div class="container">

    <div class="aboveBody">

    <div class="manContainer">

    <div class="manData ">
      <label >Data value<input type="text" class="form-control mt-2" id="manData" placeholder="Data"></label>
      
      
      <div class="catDiv">
        <label for="sel1">Category<select #mySelect class="form-control mt-2 manCat" id="sel1" (change)='onOptionSelected(mySelect.value)'>
          <option class='option' *ngFor='let option of catValues' [value]="option">{{option}}</option>
        </select></label>
    </div>
     
    </div>
    
    <input type="text" class="form-control mt-2 otherT" disabled id="otherData" placeholder="other...">

    <button class="btn btn-light mt-2" (click)="manAddData()">Add to list</button>
    <div class="alert alert-danger mt-4" id="credEr" *ngIf="isShown" role="alert">
      Please fill in all the fields    
  </div>
  
  </div>

  <div class="submitForm">
    
    <label >Client ID</label>
    <div class="submitStuff">
      <input type="text" class="form-control" id="clientID" placeholder="Client ID">
    <button class="btn btn-primary thisBut" (click)="submitData()">Submit Data</button>
  </div>
    <div class="alert alert-success mt-2" id="submitNo" *ngIf="showNo" role="alert">
      Data submitted successfully    
    </div>

    <div class="alert alert-warning mt-2" id="noClient" *ngIf="noClient" role="alert">
      Please enter a client ID   
    </div>
    
  </div>
</div>
    
  

  
    
  <div class="tableConHead mt-5">
    
    <h2 class="text-center">Identified Data</h2>
  </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped" id="theTable">
        <thead>
          <tr class="bg-dark text-white font-weight-light tableHEAD">
            <th scope="col">#</th>
            <th scope="col">Identified Data</th>
            <th scope="col">Category</th>
            <th scope="col">Include?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ItemsArray" class="text-center">
            <th>{{item.id}}</th>
            <td>{{item.data}}</td>
            <td>{{item.category}}</td>            
            <td class="custom-control custom-checkbox" >      
             <label for="sel1">Include<select #mySelect class="form-control mt-2 manCat" id="sel1" (change)='onThis(item.id)'>
                <option class='box' *ngFor='let box of boxVals' [value]="box">{{box}}</option>
              </select></label>
              
              <!--
              <div>
                <input type="checkbox" class="check-with-label" id="idinput" checked/>
                <label class="label-for-acheck" for="idinput" >NO</label>
              </div> -->
                        
          </td> 
          </tr>        
        </tbody>
      </table>
    </div>
    
  </div>
  